:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #FFFFFF;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
  --secondary-text-color-theme-light: #757575;
  --accent-color: #2196F3;
}

.list {list-style: none;}

.link {text-decoration: none;}

body {
    font-family: var(--primary-font);
    color: var(--secondary-text-color-theme-light);
}

/* ========== Components ========== */

.main-btn {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
}
.filter-btm {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--primary-text-color-theme-light);
    background-color: #F5F4FA;
}

.filter-btm:hover,
.filter-btm:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.main-benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-light);
}

.benefits {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}

.employee-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
}

.job-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-light);
}

.project {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
/* ========== Components ========== */


/* ========== Header ========== */
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-second {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.menu-link {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);

}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);}

.contact {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}
/* ========== Header ========== */

/* ========== Hero ========== */
.main-title {
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: var(--primary-text-color-theme-dark); */
}
/* ========== Hero ========== */

/* ========== Footer ========== */
.address {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* color: var(--primary-text-color-theme-dark); */
}  

.address:hover,
.address:focus {
    color: var(--accent-color);
}

.contact-footer {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* color: var(--secondary-text-color-theme-dark); */
}

.contact-footer:hover,
.contact-footer:focus {
    color: var(--accent-color);
}
/* ========== Footer ========== */